<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{hurtownia.nazwa}} detail</title>
</head>
<body>
    <h1>{{hurtownia.nazwa}}</h1>
    <h3>Miasto: {{hurtownia.miasto}}</h3>
    <h3>Ulica: {{hurtownia.ulica}}</h3>
    <h3>Nr budynku: {{hurtownia.nr_budynku}}</h3>
    <h3>Nr lokalu: {{hurtownia.nr_lokalu}}</h3>
    <h3>Kod pocztowy: {{hurtownia.kod_pocztowy}}</h3>
    <h3>Data założenia: {{hurtownia.data_zalozenia}}</h3>
    <h3>Imię właściciela: {{hurtownia.imie_wlasciciela}}</h3>
    <h3>Nazwisko właściciela: {{hurtownia.nazwisko_wlasciciela}}</h3>
</body>
</html>
