<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Klienci list</title>

</head>
<body>
    <h2>Wyszukaj:</h2>
    <form action=".", method="get">
    Imię:<br>
    <input type="text" name="imie" placeholder="imie"><br>
    Nazwisko:<br>
    <input type="text" name="nazwisko" placeholder="nazwisko"><br>
        <h4></h4>
    <input type="submit" value="Wyszukaj">
    </form>


    <h1>Lista klientow:</h1>
    {% if empty == False %}
    {% for klient in klienci %}
     <h3><a href="{% url "pokaz_klient_detail" klient.nr_klienta%}">
          {{ klient.imie}} {{klient.nazwisko}}
        </a><h3>
    {% endfor %}
             {% else %}
             <h3 style="color: red">Brak wyników spełniających kryteria wyszukiwania</h3>
             {% endif %}

             {% if request.user.is_superuser %}
     <form action="./dodaj/" method="get">
         <p><input type="submit" value="Dodaj klienta" id="dodaj_hurtownie" style="height:40px;width:150px"></p></form>
     <form action="./usun/" method="get">
         <p><input type="submit" value="Usuń klienta" id="usun_hurtownie" style="height:40px;width:150px"></p></form>
              {%endif%}


</body>
</html>