<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{producent.nazwa}} detail</title>
</head>
<body>
    <h1>Nazwa: {{producent.nazwa}}</h1>
    <h3>Miasto: {{producent.miasto}}</h3>
    <h3>Ulica: {{producent.ulica}}</h3>
    <h3>Nr budynku: {{producent.nr_budynku}}</h3>
    <h3>Nr lokalu: {{producent.nr_lokalu}}</h3>
    <h3>Kod pocztowy: {{producent.kod_pocztowy}}</h3>
    <h3>Nr telefonu: {{producent.nr_telefonu}}</h3>
    <h3>Email: {{producent.email}}</h3>
</body>
</html>